@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
@layer utilities {
  /* Webkit (Chrome, Safari, newer versions of Opera) */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray.300') theme('colors.gray.100');
  }

  .dark .scrollbar-thin {
    scrollbar-color: theme('colors.gray.600') theme('colors.gray.800');
  }

  /* For Webkit browsers */
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: theme('colors.gray.100');
    border-radius: 10px;
  }

  .dark .scrollbar-thin::-webkit-scrollbar-track {
    background: theme('colors.gray.800');
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: theme('colors.gray.300');
    border-radius: 10px;
  }

  .dark .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: theme('colors.gray.600');
  }

  /* Font utilities */
  .font-inter {
    font-family: 'Inter', sans-serif;
  }

  .font-outfit {
    font-family: 'Outfit', sans-serif;
  }
}

/* Global button styles */
.btn-primary {
  @apply rounded-lg bg-my-primary text-white hover:bg-opacity-90 transition-colors duration-300;
}

/* Custom styles for popovers, modals, toast notifications, and backgrounds */
#react-tiny-popover-container {
  z-index: 15;
}

.ReactModal__Overlay {
  background: rgb(var(--foreground-rgb), 0.5) !important;
  z-index: 100;
}

.ReactModal__Content {
  position: absolute;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 0.25rem;
  outline: none;
  padding: 1.25rem;
  max-width: 100%;
  width: min(100% - 2rem, 60rem);
  min-width: min(100% - 2rem, 13rem);
  min-height: min(100% - 2rem, 23rem);
  height: fit-content;
  max-height: min(100% - 2rem);
  inset: 1rem;
  margin: auto;
}

.Toastify__toast-container {
  width: 320px;
}
.Toastify__toast--default {
  background: #fff;
  color: #aaa;
}
.Toastify__toast--info {
  background: #3498db;
}
.Toastify__toast--success {
  background: #07bc0c;
}
.Toastify__toast--warning {
  background: #f1c40f;
}
.Toastify__toast--error {
  background: #e74c3c;
}

.back-current {
  background-color: color-mix(in oklab, currentColor 15%, #0000 85%);
  filter: saturate(2.5) brightness(0.9);
}
